.SliderWrapper{
    padding: 40px;
    box-shadow: -2px 4px 25px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px 4px 25px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 4px 25px -10px rgba(0,0,0,0.75);
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.Image{
    width: 190px;

}
.ImageContainer{
    width: 200px;
display: flex;
align-items: center;
}