.LoginWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 100px;
  padding: 50px;
}
.LogoMail{
    width: 600px;
    height: 400px;
}
.text{
    text-align: center;
}
.input{
    width: 300px;
     height: 40px;
     padding-left: 20px;
     background-color: rgb(233, 230, 230);
     border-radius: 5px;
     outline: none;
     
   }
   .FormSection{
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .buttonSend{
    width: 130px;
    height: 30px;
    background-color: rgb(34, 31, 255);
    border-radius: 10px;
    margin-top: 50px;
    cursor: pointer;
    color: white;
  }
  .buttonSend:hover{
    background-color: rgb(83, 52, 255);
  }