.HomePageContent{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

@media only screen and (max-width: 425px) {

    .HomePageContentWrapper{
        padding: 10px;
        display: flex;
        flex-direction: column;
       
    }
    .HomePageContent{
        display: flex;
        flex-direction: column;
        gap: 70px;
    }
    
 }

 @media only screen and (max-width: 400px) {
    .HomePageContentWrapper{
        padding: 10px;
        display: flex;
        flex-direction: column;
       
    }

}
